* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
	width: 100vw;
	height: 100vh;
}

#a {
	background-image: url('http://i.imgur.com/34J4IBl.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#a h1 {
	position: absolute;
	top: 37%;
	text-align: center;
	width: 100%;
	font-size: 40pt;
}

#b {
	background: #ccc;
	position: relative;
	padding: 30px;
	text-align: center;
}

#c {
	background-image: url('http://i.imgur.com/34J4IBl.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding: 30px;
	text-align: center;
	padding-top: 25%;
}

@media (min-width: 960px) {
  body {
    width: 960px;
  }
}

@media (min-width: 400px) {
  body {
    width: 100%;
    padding: 10px;
  }
}
