body {
  font-family: Gill Sans, Futura, Helvetica, sans-serif; 
  background-color: #F0F0F0;
  }

a:link {
  text-decoration: none;
  }

a:visited {
  text-decoration: none;
  }

a:hover {
  text-decoration: none;
  }

a:active {
  text-decoration: none;
  }
